@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  z-index: 99999;
  width: 11px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(90, 93, 110, 0.3);
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: rgba(90, 93, 110, 0.5);
  background-clip: content-box;
  border: 3px solid transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.15s ease-out;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  .center {
    @apply flex justify-center items-center;
  }

  select {
    @apply bg-transparent text-spotify font-medium cursor-pointer;
  }

  .welcome > h1 {
    --animate-delay: 0.2s;
  }

  .welcome > p {
    --animate-delay: 0.4s;
  }

  .welcome > div {
    --animate-delay: 0.6s;
  }

  .list {
    @apply flex flex-col space-y-8 w-full h-full pb-12;
  }

  .nav-button {
    @apply py-2 w-full rounded-full bg-white text-black font-medium hover:opacity-75;
  }

  .selected {
    @apply bg-spotify;
  }
}
